$suppressed-color: #666;
$header-color: #23231b;
$icon-color: #374957;
$card-color: #24292e;
$accent-color: #78909c;
$accent-color-light: #a7c0cd;
$accent-color-dark: #4b636e;
$border: #dbdbdb;
$icon-soft: #aaa;