@import '../../../styles/pallete';


.workspace {
    .workspace__header {
        overflow: auto;

        .workspace__header--heading {
            float: left;
        }

        .workspace__header--actions {
            float: right;
        }
    }
}

.action {
    svg {
        stroke: $icon-soft;
    }
}

.action:hover {
    cursor: pointer;

    svg {
        stroke: $accent-color-dark
    }
}