@import '../../../styles/pallete';

.line-series-config {
    label {
        font-weight: lighter;
    }

    .config-title {
        font-weight: 400;
    }

    hr {
        margin-top: 0;
    }
}

.plot-title {
    color: $accent-color-dark;
    text-align: center;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 3px;
}